In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/machine_learning_topics/DecisionTree/salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
inputs = df.drop('salary_more_then_100k',axis='columns')

In [4]:
target = df['salary_more_then_100k']

In [5]:
from sklearn.preprocessing import LabelEncoder

In [17]:
# because python can't read strings, must recode them
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [7]:
inputs['cmpany_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [8]:
inputs

       company                  job     degree  cmpany_n  job_n  degree_n
0       google      sales executive  bachelors         2      2         0
1       google      sales executive    masters         2      2         1
2       google     business manager  bachelors         2      0         0
3       google     business manager    masters         2      0         1
4       google  computer programmer  bachelors         2      1         0
5       google  computer programmer    masters         2      1         1
6   abc pharma      sales executive    masters         0      2         1
7   abc pharma  computer programmer  bachelors         0      1         0
8   abc pharma     business manager  bachelors         0      0         0
9   abc pharma     business manager    masters         0      0         1
10    facebook      sales executive  bachelors         1      2         0
11    facebook      sales executive    masters         1      2         1
12    facebook     business manager  bachelors         1      0         0
13    facebook     business manager    masters         1      0         1
14    facebook  computer programmer  bachelors         1      1         0
15    facebook  computer programmer    masters         1      1         1

In [9]:
inputs_n = inputs.drop(['company', 'job', 'degree'],axis='columns')

In [10]:
inputs_n

    cmpany_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0
5          2      1         1
6          0      2         1
7          0      1         0
8          0      0         0
9          0      0         1
10         1      2         0
11         1      2         1
12         1      0         0
13         1      0         1
14         1      1         0
15         1      1         1

In [11]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [12]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [13]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [14]:
model.score(inputs_n,target)

1.0

In [15]:
# Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?
model.predict([[2,1,0]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [16]:
# Is salary of Google, Computer Engineer, Masters degree > 100 k ?
model.predict([[2,1,1]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])